body {
  height: 100vh;
  background: url('./planta3.jpg') 
  no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}



.container-log {
  width: 800px;
  height: 700px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.left-log{
  flex: 1;
  width: 200px;
  height:700px ;
  color: white;
  padding: 60px 40px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-log {
  color: white;
  padding: 60px 40px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-log {
  width: 500px;
  height:700px;
  background: rgba(0, 0, 0, 0.85);
  padding: 60px 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}