body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: url(planta7.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: black;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.icon {
  height: 85px;
  width: 85px;
  margin-right: -150px;
}

header h1 {
    font-size: 22px;
    margin: 0;
}

nav a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}

.card {
    background-color:rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    margin-right: 370px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(212, 209, 209, 0.05);
    width: 400px;
    height: 600px;
}
    
h2 {
    color:#111;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

h1 {
    color:white;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
  .h {
    color:rgb(240, 235, 235);
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
}

.preenchimento {
    margin-bottom: 20px;
  }

input:focus, select:focus {
    border-color: #ebeef0;
    outline: none;
    box-shadow: 0 0 5px rgba(30,136,229,0.3);
}


label[for="Observacao"] {     
    color: #eef3f5; 
  }

  label[for="altura"] {
    color: #eef3f5; 
  }

  label[for="peso"] {
    color: #eef3f5;
  }

  label[for="medico"] {
    color: #eef3f5;
  }

  label[for="hora"] {
    color: #eef3f5; 
  }

  label[for="data"] {
    color: #eef3f5; 
  }

  .preto{
    background:rgba(255, 255, 255, 0.1);
  }

  .branco{
    background: white;
  }

  .text-branco{
    color: white;
  }

  input,
select,
textarea {
  border: 1px solid rgb(3, 3, 3);       
  border-radius: 6px;         
  background-color: #111;    
  color: white;                
  padding: 8px;
}


input:focus,
select:focus,
textarea:focus {
  outline: none;               
  border-color: #eef3f1;        
  box-shadow: 0 0 5px #00ff8844;
}

  
  *{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	background-color:#CCC;
}

.float{
	position:flex;
	width:120px;
	height:120px;
	bottom:50px;
	right:50px;
	background-color:#0C9;
	color:#FFF;
	border-radius:12px;
	text-align:center;
  align-items: center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}
  
  

button {
    background-color: #00b37a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    width: 300px;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 45px;
}

button a{
    background-color: #00b37a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 12px;
    width: 300px;
    font-size: 16px;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 35px;
}

button:hover {  
    background-color: #00b37a;
}

.calendar {
    width: 400px;
    margin-right: 20px;
    text-align: center;
}

.calendar iframe {
    border: none;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    margin-right: 100px;
}